
a {
  text-decoration: none;
}
.address {
  font-style: normal;
  background-color: #84a178;
}
.contacts {
  border: 1px solid transparent;
  border-radius: 30px;
  width: 280;
  height: 412px;
  padding-left: 32px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  background-color: #fcfcfc;
}

.contacts:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__institution {
  display: block;
  margin-bottom: 20px;
  margin-top: 40px;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  background-color: #f8d24e;
}

.contacts__titel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #d6936d;
}

.contacts__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ababab;
}

.contacts__wrap {
  width: 216px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts__list {
  margin-top: 24px;
  margin-bottom: 24px;
}
.contacts__day:not(:last-child) {
  padding-bottom: 8px;
}

.contacts__titel--padding {
  padding-bottom: 8px;
}
