
.address {
  font-style: normal;
  background-color: #84a178;
}
.contacts__box {
  padding: 40px 32px;

  border: 1px solid transparent;
  border-radius: 30px;
  width: 280;
  height: 412px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  background-color: #fcfcfc;
}

.contacts__box:not(:last-child) {

  margin-bottom: 20px;
}

.contacts__institution {
  display: block;
  margin-bottom: 20px;
  margin-top: 40px;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  background-color: #f8d24e;
}

.contacts__titel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.contacts__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #d6936d;
}

.contacts__time {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #ababab;
}

.contacts__wrap {
  width: 216px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts__list {
  margin-top: 24px;
  margin-bottom: 24px;
}
.contacts__day:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__titel--padding {
  margin-bottom: 8px;
}

.contacts {
  margin-bottom: 32px;
}

.button {
  align-items: center;
  text-align: center;
}
.button__left {
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  width: 161px;
  height: 49px;

  color: #000000;
  border-radius: 10px;
  border: 1px solid #f8d24e;
  background-color: #f8d24e;
  margin-bottom: 8px;
}

.button__right {
  border: 2px solid #f8d24e;
  border-radius: 10px;
  width: 161px;
  height: 49px;
  background-color: #84a178;
  color: #fcfcfc;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
}

.button__icon {
  padding-left: 8px;
}
