@import './utils/common';
@import './utils/containers';
@import './utils/variables';
@import './utils/visually-hidden';

@import './header';
@import './hero';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './reviews';
@import './contacts';
@import './footer';

@import './modal-header';
@import './mobile-menu';
@import './modal-contacts';
@import './modal-location';
@import './modal-video';
@import './modal-buy';
