<section class="products">
  <div class="container box-product">
    <h1 class="header-title">
      ice cream made with <span class="sub">passion</span>
    </h1>
    <button type="button" class="button-products">Products</button>
    <button type="button" class="button-made">How it’s made?</button>

    <ul class="products-list">
      <li class="products-item">
        <!-- <img
              class="ice-icon"
              srcset="/img/ice.desctop.png 455w, /img/ice.tablet.png 270w"
              sizes="(min-width: 1200px) 455px, (min-width: 768px) 270px"
              src="./img/ice.tablet.png"
              alt="ice"
            /> -->
        <p class="product-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </li>
      <li class="ice-icon-big">
        <!-- <img
              class="main-ice"
              srcset="
                /img/main.ice.desctop.png 455w,
                /img/main.ice.tablet.png  270w,
                /img/main.ice.mob.png     170w
              "
              sizes="(min-width: 1200px) 455px, (min-width: 768px) 270px,
              (min-width: 320px) 170px"
              src="./img/main.ice.mob.png"
              alt="main.ice"
            /> -->
      </li>
      <li class="title-list">
        <p class="product-title">
          16<span class="product-sub-title">Cafe</span>
        </p>
        <p class="product-title">
          23<span class="product-sub-title">food trucks</span>
        </p>
      </li>
    </ul>
  </div>
</section>
