<section class="products">
  <div class="container products--container">
    <p lang="en" class="products-text">100% natural</p>
    <h2 class="products-title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item ice-crem-one">
        <div class="products-card ice-cream">
          <h3 class="card-name name-ice-cream">ice cream</h3>
          <p class="card-text text-ice-cream">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button type="button" class="btn-arrow">
            <svg class="card-icon">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item ice-crem-two">
        <div class="products-card ice-coffee">
          <h3 class="card-name name-ice-coffee">ice coffee</h3>
          <p class="card-text text-ice-coffe">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button type="button" class="btn-arrow">
            <svg class="card-icon">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item ice-crem-three">
        <div class="products-card milkshake">
          <h3 class="card-name name-milkshake">milkshakes</h3>
          <p class="card-text text-milkshake">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button type="button" class="btn-arrow">
            <svg class="card-icon">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
